{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flashcards - Login{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>Passwort vergessen? <a href="{{ url_for('auth.password_reset_request') }}">Setze es hier zurück!</a></p>
        <p>Neuer Benutzer?<a href="{{ url_for('auth.register') }}">Klick hier zum registrieren</a></p>
    </div>
{% endblock %}