{% extends "base.html" %}

{% block title %}Flashcard - Confirm your account{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> Hey, {{ current_user.username }}! </h1>
        <h3>Du hast dein Passwort noch nicht bestätigt.</h3>
        <p>
            Du musst deine Email-Adresse bestätigen, wenn du Zugriff haben möchtest.
            Checke dein Postfach, du solltest von uns eine Email bekommen haben.
        </p>
        <p>
            Sollen wir die Email nochmal zuschicken?
            <a href="{{ url_for('auth.resend_confirmation') }}">Klick hier.</a>
        </p>
    </div>

{% endblock %}