{% extends "base.html" %}

{% block title %}Flashcard - {{ flashcardcollection.name }}/Flashcard {{ flashcard.id }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} / Karteikarte {{ flashcard.id }} </h1>

        <a href="{{ url_for('.edit_flashcard', collId=flashcardcollection.id, cardId=flashcard.id) }}">
            <!-- <p class="label label-danger">{{ flashcard.sum_wrong_answered}}x Falsch</p>
            <p class="label label-success">{{flashcard.sum_right_answered}}x Richtig</p>
            <p class="label label-default">{{flashcard.sum_answered}}x geübt</p> <br> -->
            <p class="label label-success">Fehlerquote: {{(flashcard.quote*100)|round|int}} %</p>
            <span class="label label-primary">Bearbeiten</span>
        </a>
    </div>
    <div>
        <h2>Frage</h2>
        <div class="flashcard-body">
            {% if flashcard.question_html %}
                <p>{{ flashcard.question_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.question }}</p>
            {% endif %}
        </div>
        <h2>Antwort</h2>
        <div class="flashcard-body">
            {% if flashcard.answer_html %}
                <p>{{ flashcard.answer_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.answer }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}