<div class="flex-row row">
    {% for flashcard in flashcardcollection.flashcards %}
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <article class="thumbnail">
                <header>
                    <h3>
                        <a href="{{ url_for('.flashcard', collId=flashcardcollection.id, cardId=flashcard.id) }}">Karteikarte {{ loop.index }}</a>
                    </h3>
                    <p class="label label-danger">{{ flashcard.sum_wrong_answered}} Falsche Antworten</p>
                    <p class="label label-success">{{flashcard.sum_right_answered}} Richtige Antworten</p> <br>
                    <a href="{{ url_for('.delete_card', collId=flashcardcollection.id, cardId=flashcard.id) }}"><span class="label label-danger">Löschen</span></a>
                </header>
                <p class="flex-text">{{ flashcard.question[:20] }}...</p>
            </article>
        </div>
    {% endfor %}
    <div class="col-xs-12 col-sm-4 col-lg-3">
        
        <article class="thumbnail">
<!--             
            <div class="dropdown text-center">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Lektion
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  {% for category in flashcardcollection.categories%}
                  <li><a href="{{ url_for('.flashcardcollection', id=flashcardcollection.id, catid=category.name) }}">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>  -->

            <a href="{{ url_for('.add_flashcard', id=flashcardcollection.id) }}" class="newCollection">
                <span class="glyphicon glyphicon-plus"></span>
            </a>

        </article>
    </div>
</div>
