{% extends "base.html" %}

{% block title %}Flashcards - {{ flashcardcollection.name }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} </h1>

        
        
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Wähle eine Lektion
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% for category in flashcardcollection.categories%}
              <li><a href="{{ url_for('.flashcardcollection', id=flashcardcollection.id, catid=category.name) }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div> 
      
        <br>
        <br>
        <a href="{{ url_for('.add_category', id=flashcardcollection.id) }}">
            <span class="label label-default">Lektion hinzufügen</span></a>
        </a>
        <br>
        <div class="margTop">
            <p class="label label-default">{{ flashcardcollection.flashcards.filter_by(wrong_answered=False, right_answered=False).count() }} Kicards</p>
            <p class="label label-danger">{{ flashcardcollection.flashcards.filter_by(wrong_answered=True).count() }} Falsch</p>
            <p class="label label-success">{{ flashcardcollection.flashcards.filter_by(right_answered=True).count() }} Richtig</p>
        </div>
    </div>
    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='normal') }}"><span
            class="btn btn-primary btn-learn">Alle lernen</span></a>
    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='wrong_ones') }}"><span
            class="btn btn-danger btn-learn">Falsche lernen</span></a>
    <a href="{{ url_for('.reset_cards', id=flashcardcollection.id) }}"><span
            class="btn btn-warning btn-learn">Lernstand zurücksetzen</span></a>
    {% include "flashcard_box.html" %}

{% endblock %}