{% extends "base.html" %}

{% block title %}Flashcards - {{ flashcardcollection.name }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} </h1>
        <p class="label label-default">Priorität: {{ flashcardcollection.prio}} </p>
        <br>
        {% if flashcardcollection.duedate != None %}
        <p class="label label-default">Fälligkeitstermin: {{ flashcardcollection.duedate }} </p>
        {% endif %}
        <div class="margTop">
            <p class="label label-default">{{ flashcardcollection.flashcards.filter_by(wrong_answered=False, right_answered=False).count() }} Kicards</p>
            <p class="label label-danger">{{ flashcardcollection.flashcards.filter_by(wrong_answered=True).count() }} Falsch</p>
            <p class="label label-success">{{ flashcardcollection.flashcards.filter_by(right_answered=True).count() }} Richtig</p>
        </div>


        <!-- <div class="margTop"></div>
         -->
        <br>
        <br>

        <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Wähle eine Lektion</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {% for category in flashcardcollection.categories%}
                <option><a href="{{ url_for('.flashcardcollection', id=flashcardcollection.id, catid=category.id) }}">{{ category.name }}</a></option>
                {% endfor %}
            </select>
          </div> -->


        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Wähle eine Lektion
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% for category in flashcardcollection.categories%}
              <li><a href="{{ url_for('.flashcardcollection', id=flashcardcollection.id, catid=category.id) }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div> 
        <a href="{{ url_for('.add_category', id=flashcardcollection.id) }}">
            <span class="label label-default">Lektion hinzufügen</span></a>
        
        </a>
        <br>

    </div>

    <!-- Buttongruppe
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Heute<a href="{{ url_for('.learn', id=flashcardcollection.id, mode='today') }}"></a></button>
        <button type="button" class="btn btn-primary">Alle lernen<a href="{{ url_for('.learn', id=flashcardcollection.id, mode='all') }}"></a></button>
        <button type="button" class="btn btn-primary">Schlechtesten lernen<a href="{{ url_for('.learn', id=flashcardcollection.id, mode='bad_ones') }}"></a></button>
        <button type="button" class="btn btn-primary">Session lernen<a href="{{ url_for('.learn', id=flashcardcollection.id, mode='session') }}"></a></button>
    </div> -->

    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='today') }}">
        <span class="btn btn-primary btn-learn">Heute</span>
    </a>
    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='all') }}">
        <span class="btn btn-primary btn-learn">Alle lernen</span>
    </a>
    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='bad_ones') }}">
        <span class="btn btn-primary btn-learn">Schlechtesten lernen</span>
    </a>
    <a href="{{ url_for('.learn', id=flashcardcollection.id, mode='session') }}">
        <span class="btn btn-primary btn-learn">Session lernen</span>
    </a>
    <!-- <a href="{{ url_for('.reset_cards', id=flashcardcollection.id) }}">
        <span class="btn btn-warning btn-learn">Lernstand zurücksetzen</span>
    </a> -->
    {% include "flashcard_box.html" %}

{% endblock %}