{% extends "base.html" %}

{% block title %}Flashcard - {{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1> {{ user.username }} </h1>
            <p>Seit dem {{moment(user.member_since).format('DD.MM.YYYY') }} ein registrierter Benutzer</p>
            <button type="button" class="btn">
                <a href="{{ url_for('.delete_user', id=user.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
            </button>
        </div>
    </div>
    {% include 'collection_overview.html' %}
{% endblock %}